@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container {
    /* display: flex; */
    width: 100%;
}

.underContainer {
    display: flex;
    flex-direction: column;

}

/* Main TEXT */

.mainText {
    margin-top: 60px;
    text-align: center;
}

.homeGreet {
    margin-left: 320px;
    font-size: 28px;
    margin-bottom: 20px;
}

/* ---------------------------- */

/* CATEGORIES */

.categories {
    margin: auto;
    padding: 40px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: solid 2px black;
    border-radius: 15px;
}

.categoryBlock {
    margin: 12px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
}

.categoryBlock:hover {
    transform: scale(1.05);

}

.category-link {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.icon {
    width: 50px;
    margin-right: 10px;
}

.lookTask {
    padding: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.showTasks {
    color: white;
    font-size: 20px;
    border-radius: 15px;
    width: 280px;
    height: 50px;

    border: none;
    background-color: rgb(41, 40, 40);
    transition: 0.3s;
}

.showTasks:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 16px 50px 4px;
    transform: scale(1.05);
}

/* ------------------------------ */

/* HOW IT WORKS CARDS */

.describe {
    text-align: center;
    font-size: 25px;
    margin: auto;
    margin-bottom: 50px;
}

.howItWorks {
    display: flex;
    justify-content: space-around;
}

.txt {
    margin-top: 45px;
    margin-left: 400px;
}

.how-it-works-block {
    display: flex;
    border: 1px solid black;
    width: 300px;
    height: 135px;
    font-size: 32px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    transition: 0.3s;
}

.how-it-works-block:hover {
    transform: scale(1.05);
}

.arrow-icon {
    margin-top: 40px;
    width: 85px;
    height: 70px;
}

/* ------------------------------ */

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 92px;
    border: 2px solid black;
    background-color: white;
    height: 150px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 18px;
    border-bottom: none;
}

.team {
    margin-top: 10px;
}

.ourTeam {
    text-align: center;
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.link:hover {
    color: #08caff;
}

.footerHr {
    margin-top: 15px;
    margin-bottom: 5px;
}

/* ------------------------------ */